body {
    overflow: hidden;
}

span {
    font-size: 26px;
}

.fui-check {
    width: 10px;
}

#left {
    float: left;
    margin-left: 40px;
}

#lines {
    width: 350px;
    height: 500px;
    overflow: auto;
}

#input-line {
    width: 300px;
    height: 140px;
}

.timing {
    text-align: center;
}

#video {
    text-align: center;
}

#detail {
    position: absolute;
    right: 40px;
    bottom: 30px;
}

#youtube-url {
    width: 400px;
}

#start-check, #end-check {
    width: 30px;
}

