{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>妞妞配字幕</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="subtitle">
        <meta name="author" content="averangeall">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/edit.css" %}">
    </head>

    <body>
        <div class="y-blank"></div>
        <div id="left">
            <div id="save" align="center">
                <a href="javascript: void(0);" class="btn btn-large btn-disabled">下載影片</a>
                <a href="javascript: void(0);" class="btn btn-large btn-disabled">下載字幕檔</a>
            </div>
            <div class="y-blank"></div>
            <div id="lines" class="todo">
                <ul>
                    <div id="lines-content">
                    </div>
                    <div id="lines-add">
                    </div>
                </ul>
            </div>
        </div>

        <div id="right">
            <div id="video" align="center">
                <input id="youtube-url" type="text" placeholder="請輸入 Youtube 網址" />
                <a id="youtube-submit" href="javascript: void(0);" class="btn btn-large btn-primary">送出</a>
                <h2 id="youtube-msg"></h2>
            </div>
            <div class="y-blank"></div>
            <table id="detail">
                <tr>
                    <td>
                        <div align="center">
                            <a id="start-check" href="javascript: void(0);" class="btn btn-disabled fui-check"></a>
                            <span class="big">字幕出現</span>
                        </div>
                        <input id="start-timing" type="text" value="00:00" class="timing span4" />
                    </td>
                    <td rowspan="2">
                        <textarea id="input-line"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                            <a id="end-check" href="javascript: void(0);" class="btn btn-disabled fui-check"></a>
                            <span class="big">字幕隱藏</span>
                        </div>
                        <input id="end-timing" type="text" value="00:00" class="timing span4" />
                    </td>
                </tr>
            </table>
        </div>

        <script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
        <script src="{% static "js/swfobject.js" %}"></script>
        <script src="{% static "js/edit.js" %}"></script>
    </body>
</html>

