{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>妞妞配字幕</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="subtitle">
        <meta name="author" content="averangeall">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/upload.css" %}">
    </head>

    <body>
        <div class="y-blank"></div>
        <div id="left">
            <div id="open" align="center">
                <a href="javascript: void(0);" class="btn btn-large btn-primary">開啟影片</a>
            </div>
        </div>
    </body>
</html>

